:host {
  footer {
    padding: 15px 0;

    p {
        text-align: center;
        a {
            text-decoration: underline;
            cursor: pointer;
            &:hover {
                color: var(--secondary-color);
            }
        }
    }
  }
}
