:host {
  width: 100%;
  @media(min-width: 500px) {
    width: 47%;
  }
  @media(min-width: 768px) {
    width: 31%;
  }

  .skill-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    .img-container {
      width: 100px;
      height: 100px;
      margin-bottom: 20px;
    }
    h3 {
      font-size: 16px;
      color: var(--primary-color);
    }
  }
}
