<header>
  <a routerLink="/" class="img-name-container" (click)="isMobileMenuOpen && closeMobileMenu()">
    <div class="img-container">
      <img src="assets/images/george_doudouliakis.jpg" class="img-responsive" alt="George Doudouliakis">
    </div>
    <span>George Doudouliakis</span>
  </a>

  <div class="mobile-menu-icon" [ngClass]="{ 'open': isMobileMenuOpen }" (click)="toggleMobileMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <nav [ngClass]="{ 'mobile-menu-open': isMobileMenuOpen }">
    <ul>
      <li (click)="isMobileMenuOpen && closeMobileMenu()">
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
      </li>
      <li (click)="isMobileMenuOpen && closeMobileMenu()">
        <a routerLink="about" routerLinkActive="active">About</a>
      </li>
      <li (click)="isMobileMenuOpen && closeMobileMenu()">
        <a routerLink="experience" routerLinkActive="active">Experience</a>
      </li>
      <li (click)="isMobileMenuOpen && closeMobileMenu()">
        <a routerLink="projects" routerLinkActive="active">Projects</a>
      </li>
    </ul>
  </nav>
</header>
