:host {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0 0;
        z-index: 1;
        @media(min-width: 960px) {
            padding: 30px 0 0;
        }
    }

    .img-name-container {
        display: flex;
        align-items: center;

        .img-container {
            width: 50px;
            height: 50px;
            img {
                border-radius: 50%;
            }
        }

        span {
            font-weight: bold;
            margin-left: 15px;
        }
    }

    .mobile-menu-icon {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 30px;
      height: 20px;
      cursor: pointer;
      z-index: 2;
      & > div {
        width: 100%;
        height: 2px;
        background: var(--primary-color);
        &.white-background {
          background: #fff;
        }
      }
      &.open {
        > div {
          &:nth-child(1) {
            transform: rotate(45deg) translateY(13px);
          }
          &:nth-child(2) {
            opacity: 0;
          }
          &:nth-child(3) {
            transform: rotate(-45deg) translateY(-13px);
          }
        }
      }
      @media(min-width: 960px) {
          display: none;
      }
    }

    nav {
        display: none;
        &.mobile-menu-open {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 90px;
            left: 0;
            width: 100%;
            height: calc(100% - 90px);
            background: var(--body-color);
            border-top: 1px solid var(--secondary-color);
            z-index: 1;
            ul > li {
                font-size: 32px;
                text-align: center;
                &:not(:last-of-type) {
                    margin-bottom: 25px;
                }
            }
        }
        @media(min-width: 960px) {
            display: flex;
            ul {
                display: flex;
                flex-direction: row;
                li {
                    &:not(:last-of-type) {
                        margin-right: 10px;
                    }
                    a {
                        padding: 10px 20px;
                        background: linear-gradient(to left, var(--body-color) 50%, var(--secondary-color) 50%) right;
                        background-size: 250% 100%;
                        &.active {
                            color: var(--white-color);
                            background: var(--secondary-color);
                        }
                        &:hover {
                            color: var(--white-color);
                            background-position: left;
                        }
                    }
                }
            }
        }
    }
}
