:host {
  p {
    font-size: 18px;
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 50px;
    }
    @media(min-width: 960px) {
      font-size: 20px;
    }
    @media(min-width: 1440px) {
      font-size: 22px;
    }
  }
}
