<h1>ABOUT ME</h1>
<p>Hello there! My name is George Doudouliakis and i am a Front End Web Developer located in Thessaloniki, GR.</p>
<p>My enthusiasm for bringing a design into life brought me to the world of Front End Web Development in early 2020. Having started with simple websites and thereafter enhanced my skills in JavaScript, i started learning Angular 2+. At the time speaking, i work as a full-time front end web developer in Thessaloniki.</p>
<p>I'm passionate about what i do, i love solving problems and learning every day something new or enhance my existing skills. I try to write clean and maintainable code in order to achieve a better coding experience.</p>
