:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;

  .theme-mode {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
  }

  .theme-switcher-container {
    position: relative;
    cursor: pointer;
    &::after {
      position: absolute;
      left: -200px;
      padding: 10px;
      opacity: 0;
      content: "Click to change theme";
      color: var(--white-color);
      background: var(--secondary-color);
      transition: .4s ease-in-out;
    }
    &:hover::after {
      opacity: 1;
    }
    @media(min-width: 960px) {
      margin-right: 20px;
    }
  }
}
