:host {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;

  .theme-mode {
    font-size: 18px;
    font-weight: 600;
    color: var(--primary-color);
  }

  .theme-switcher-container {
    position: relative;
    width: 70px;
    height: 25px;
    background: var(--secondary-color);
    border-radius: 25px;
    cursor: pointer;
    .theme-switcher {
      position: absolute;
      width: 25px;
      height: 25px;
      content: "";
      background: var(--primary-color);
      border-radius: 25px;
      transition: .4s ease-in-out;
    }
    span {
      font-size: 14px;
      position: absolute;
      top: 4px;
      color: var(--primary-color);
    }
    @media(min-width: 960px) {
      margin-right: 20px;
    }
  }
}
