:host {
  display: flex;
  align-items: center;
  padding: 20px 0 40px 0;

  .line {
    width: 100%;
    height: 1px;
    background: var(--secondary-color);
    &:first-of-type {
      margin-right: 20px;
    }
    &:last-of-type {
      margin-left: 20px;
    }
  }

  .theme-switcher-container {
    cursor: pointer;
  }
}
