:host {
    p {
      font-size: 18px;
      margin-bottom: 20px;
      &:last-of-type {
          margin-bottom: 50px;
      }
      @media(min-width: 960px) {
          font-size: 20px;
      }
      @media(min-width: 1440px) {
          font-size: 22px;
      }
    }

    .skills-container,
    .skill-card-front,
    .skill-card-back {
      display: flex;
      align-items: center;
    }

    .skills-container {
      flex-wrap: wrap;
      justify-content: space-between;
      gap: 20px;
    }

    .skill-card {
      height: 140px;
      width: 47%;
      cursor: pointer;
      perspective: 1000px;
      @media(min-width: 768px) {
        width: 30%;
      }
    }

    .skill-card-inner,
    .skill-card-front,
    .skill-card-back {
      width: 100%;
      height: 100%;
    }

    .skill-card-inner {
      position: relative;
      transition: transform 0.6s;
      transform-style: preserve-3d;
      box-shadow: var(--card-box-shadow);
    }

    .skill-card:hover
    .skill-card-inner,
    .skill-card-back {
      transform: rotateY(180deg);
    }

    .skill-card-front,
    .skill-card-back {
      position: absolute;
      justify-content: center;
      background-color: var(--card-background);
      backface-visibility: hidden;
    }

    .skill-card-front,
    .skill-card-back > h3 {
      color: var(--primary-color);
    }
}
