:host {
    h1 {
        margin-bottom: 40px;
    }

    p {
        font-size: 18px;
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 50px;
        }
        @media(min-width: 960px) {
            font-size: 20px;
        }
        @media(min-width: 1440px) {
            font-size: 22px;
        }
    }

    h2 {
        margin-bottom: 20px;
    }

    .skills-container,
    .flip-card-front,
    .flip-card-back {
        display: flex;
        align-items: center;
    }
    
    .skills-container {
        flex-wrap: wrap;
    }
    
    .flip-card {
        width: 140px;
        height: 140px;
        margin: 20px 40px 20px 0;
        cursor: pointer;
        perspective: 1000px;
    }
      
    .flip-card-inner,
    .flip-card-front,
    .flip-card-back {
        width: 100%;
        height: 100%;
    }

    .flip-card-inner {
        position: relative;
        transition: transform 0.6s;
        transform-style: preserve-3d;
        box-shadow: var(--card-box-shadow);
    }
    
    .flip-card:hover 
    .flip-card-inner,
    .flip-card-back {
        transform: rotateY(180deg);
    }
    
    .flip-card-front, 
    .flip-card-back {
        position: absolute;
        justify-content: center;
        background-color: var(--card-background);
        backface-visibility: hidden;
    }
    
    .flip-card-front,
    .flip-card-back > h3 {
        color: var(--primary-color);
    }
}