:host {
    main {
        padding: 40px 0;
        min-height: calc(100vh - 222px);
        @media(min-width: 768px) {
            padding: 50px 0;
            min-height: calc(100vh - 183px);
        }
        @media(min-width: 960px) {
            min-height: calc(100vh - 193px);
        }
    }
}
