:host {
    main {
        padding-bottom: 20px;
        min-height: calc(100vh - 270px);
        @media(min-width: 768px) {
            min-height: calc(100vh - 251px);
        }
        @media(min-width: 960px) {
            min-height: calc(100vh - 261px);
        }
    }
}
