:host {
    .description, blockquote {
        margin-bottom: 30px;
    }

    .intro {
        margin-bottom: 5px;
        @media(min-width: 768px) {
            font-size: 20px;
        }
    }

    h1 {
        @media(min-width: 768px) {
            font-size: 40px;
        }
        @media(min-width: 1280px) {
            font-size: 50px;
        }
    }

    .description {
        font-size: 20px;
        @media(min-width: 768px) {
            font-size: 25px;
            line-height: 35px;
        }
        @media(min-width: 1280px) {
            font-size: 30px;
        }
    }

    button:not(:first-of-type) {
      margin-left: 15px;
    }

    blockquote {
        padding: 10px 15px;
        line-height: 25px;
        border-left: 2px solid var(--secondary-color);
        @media(min-width: 768px) {
            font-size: 20px;
        }
    }
}
