<p class="intro">HELLO, MY NAME IS GEORGE</p>
<h1>I am a Front End Web Developer</h1>
<p class="description">A Front End Web Developer located in Thessaloniki (GR), specialized in HTML, CSS, JavaScript, TypeScript and Angular 2+</p>
<blockquote>"Programming isn't about what you know, it's about what you can figure out." - Chris Pine</blockquote>
<button>
  <a href="https://www.linkedin.com/in/georgios-doudouliakis-b97a5b19a/" target="_blank">LinkedIn</a>
</button>
<button>
  <a href="https://github.com/GeorgiosDoudouliakis" target="_blank">GitHub</a>
</button>
