:root {
    --body-color: #0E141B;
    --primary-color: #fff;
    --secondary-color: #B861FF;
    --card-background: #182330;
    --card-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

// FONT FACE
@font-face {
    font-family: RalewayRegular;
    src: url("./assets/fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: RalewayLight;
    src: url("./assets/fonts/Raleway-Light.ttf");
}

// GLOBAL STYLES
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color);
}

body {
    font-family: 'Raleway', sans-serif;
    background: var(--body-color);
    width: 90%;
    max-width: 1140px;
    margin: auto;
}

h1, h2 {
    margin-bottom: 40px; 
}

h2 {
    font-size: 28px;
}

h1, h2, h3, h4, a {
    font-family: RalewayRegular;
    color: var(--secondary-color);
}

p, span, ul, blockquote {
    font-family: RalewayLight
}

p, span, blockquote {
    color: var(--primary-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

ul {
    list-style-type: none;
}

button {
    border: none;
    outline: none;
}

// REUSABLE CLASSES
.img-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}