:root {
    --body-color-light: #FAFAFA;
    --primary-color-light: #0e0e0e;
    --secondary-color-light: #8438C2;
    --card-background-light: rgb(247, 247, 247);

    --body-color-dark: #0E141B;
    --primary-color-dark: #fff;
    --secondary-color-dark: #B861FF;
    --card-background-dark: #182330;

    --card-box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

// FONT FACE
@font-face {
    font-family: RalewayRegular;
    src: url("./assets/fonts/Raleway-Regular.ttf");
}

@font-face {
    font-family: RalewayLight;
    src: url("./assets/fonts/Raleway-Light.ttf");
}

// GLOBAL STYLES
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: var(--secondary-color-dark);
}

body {
    font-family: 'Raleway', sans-serif;
    background: var(--body-color-dark);
    width: 90%;
    max-width: 1140px;
    margin: auto;
}

h1, h2 {
    margin-bottom: 40px;
}

h2 {
    font-size: 26px;
}

h1, h2, h3, h4, a {
    font-family: RalewayRegular;
    color: var(--secondary-color-dark);
}

p, span, ul, blockquote {
    font-family: RalewayLight
}

p, span, blockquote {
    color: var(--primary-color-dark);
}

a {
    text-decoration: none;
    color: var(--primary-color-dark);
}

ul {
    list-style-type: none;
}

button {
  font-size: 20px;
  padding: 10px 15px;
  color: var(--primary-color-dark);
  background: var(--body-color-dark);
  border: 1px dashed var(--secondary-color-dark);
  transition: .4s ease-in-out;
  outline: none;
  cursor: pointer;
  &:has(> a) {
    padding: 0;
    > a {
      display: inline-block;
      padding: 10px 15px;
    }
  }
  &:hover {
    border-color: var(--primary-color-dark);
  }
}

button:focus,
a:focus {
  outline: 2px solid var(--primary-color-dark);
}

// REUSABLE CLASSES
.img-responsive {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
